body{
<<<<<<< HEAD
    background-color: rgb(26, 23, 23);
=======
    background-color: gray;
>>>>>>> 440352e31e5b51b22e49998dedada6bd62dbf090

}

h1 {
<<<<<<< HEAD
    color: rebeccapurple;
    text-align: center;
}


.container{

    width: 80%;
    margin: auto;
}

figure{

        text-align: center;

}
=======
    color: orange;
}
>>>>>>> 440352e31e5b51b22e49998dedada6bd62dbf090
