body{
    background-color: rgb(26, 23, 23);
    background-image: url(https://i.pinimg.com/originals/2f/96/a7/2f96a7313acb7158ef677f834360eebe.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}

h1 {
    color: rgb(92, 31, 153);
    text-align: center;
}


.container{

    width: 80%;
    margin: auto;
}

figure{

        text-align: center;


}