html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: MouseMemoirs-Regular;
    src: url(../fonts/MouseMemoirs-Regular.ttf);
}

@font-face {
    font-family: BebasNeue-Regular;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

body {
    background-image: url(https://a-static.besthdwallpaper.com/chainsaw-man-makima-4k-wallpaper-3840x2160-79265_54.jpg);
    background-repeat: no-repeat;
    letter-spacing: 2.3px;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    text-shadow: 1px 1px 2px #7e7e7e;
}

.float {

    width: 10%;
    float: right;
    margin: 1%;
}

h1 {
    color: #E60039;
    text-align: center;
    font-family: BebasNeue-Regular;
    margin: auto;
    font-size: 2em;
    margin-top: 1%;
    letter-spacing: 2.3px;
    margin-bottom: 1%;
    padding: 10px;
}

.negocinho {
    background-color: rgba(0, 0, 0, 0.60);
    padding-top: 1%;
}

h2 {
    color: #E60039;
    font-size: 25px;
    letter-spacing: 2.3px;
    padding: 1%;
    font-family: MouseMemoirs-Regular;
    padding-left: 3.8%;

}

.negócio {

    padding-top: 7%;
}

.logo {
    background-color: rgba(22, 10, 6, 0.3);
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

figure {
    text-align: center;
}

.img_topo {
    height: 40%;
    width: 30%;
}

p {
    font-size: 1.75em;
    font-family: MouseMemoirs-Regular;
    color: #d60438;
    letter-spacing: 2.3px;
    text-indent: 50px;

}

.h4{
    text-align: center;
    font-size: 120%;
    font-family: MouseMemoirs-Regular;
    color: #E60039;
    letter-spacing: 2.3px;
    line-height: 1.3;
    padding: 0.5%;
    padding-right: 2.75%;
    font-weight: bolder;
    text-indent: 50px;

}


table {
    font-family: BebasNeue-Regular;
    border-collapse: collapse;
    width: 100%;
    font-size: 1.50em;
    color: #d60438;
    line-height: 1.3;
    padding: 0.5%;
    font-weight: bolder;
    text-indent: 50px;

}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.peidi {
    padding-top: 5%;
}

tr:nth-child(even) {
    background-color: #E60039;
    color: #000000;
}


.sla {
    text-align: center;
    color: #DB070A;
    line-height: 1.5;
}

a:link {
    color: #E60039;
}

a:visited {
    color: #E60039;
}

a:hover {
    color: #DB070A;
}

.som {
    display: inline-block;
    background-color: rgba(214, 4, 56, 0.8);
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    width: 4%;
    height: 4%;
}

a:active {
    color: #DB070A;
}

div.scrollmenu {
    background-color: rgba(22, 10, 6, 0.3);
    overflow: auto;
    white-space: nowrap;
}

.po {
    padding-right: 2.4%;
}

footer {
    background-color: rgba(22, 10, 6, 0.3);
    padding-top: 0.3%;
    padding-bottom: 0.3%;
}



.instagram {
    width: 36px;
}

.decima {
    background-color: rgba(22, 10, 6, 0.35);
    padding-top: 2%;
    padding-bottom: 2%;
}



.botão {
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    margin: 1%;
    width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}